@font-face {
      font-family: 'humanitarian-icons-v02';
      src: url('../ocha/humanitarian-icons-v02.eot?6469089');
      src: url('../ocha/humanitarian-icons-v02.eot?64690892#iefi') format('embedded-opentype'),
           url('../ocha/humanitarian-icons-v02.woff?6469089') format('woff'),
           url('../ocha/humanitarian-icons-v02.ttf?6469089') format('truetype'),
           url('../ocha/humanitarian-icons-v02.svg?64690892#humanitarian-icons-v0') format('svg');
      font-weight: normal;
      font-style: normal;
    }
     
     
    .humanitarian-icon
    {
      font-family: "humanitarian-icons-v02";
      speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
     
      /* Uncomment for 3D effect */
      /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    }

    .icon-dead:before {content: '\e942';}
    .icon-case-management:before{content:'\e800';}
.icon-covid-19:before{content:'\e801';}
.icon-life-saving:before{content:'\e802';}
.icon-sanitizer:before{content:'\e803';}
.icon-doctor:before{content:'\e804';}
.icon-house-lockdown:before{content:'\e805';}
.icon-work-from-home:before{content:'\e806';}
.icon-building-closed:before{content:'\e807';}
.icon-market-closed:before{content:'\e808';}
.icon-airport-closed:before{content:'\e809';}
.icon-school-closed:before{content:'\e80a';}
.icon-location-lockdown:before{content:'\e80b';}
.icon-port-closed:before{content:'\e80c';}
.icon-road-closed:before{content:'\e80d';}
.icon-bridge-closed:before{content:'\e80e';}
.icon-infection-control:before{content:'\e80f';}
.icon-mask:before{content:'\e810';}
.icon-ventilator:before{content:'\e811';}
.icon-market:before{content:'\e812';}
.icon-remote-support:before{content:'\e813';}
.icon-testing:before{content:'\e814';}
.icon-hospital-bed:before{content:'\e815';}
.icon-respiratory:before{content:'\e816';}
.icon-laboratory:before{content:'\e817';}
.icon-physical-distancing:before{content:'\e818';}
.icon-search-and-rescue:before{content:'\e819';}
.icon-resilence:before{content:'\e81a';}
.icon-sexual-and-reproductive-health:before{content:'\e81b';}
.icon-agile:before{content:'\e81c';}
.icon-poverty:before{content:'\e81d';}
.icon-gender-based-violence:before{content:'\e81e';}
.icon-gender:before{content:'\e81f';}
.icon-power-electricity-affected:before{content:'\e820';}
.icon-power-electricity-not-affected:before{content:'\e821';}
.icon-power-electricity:before{content:'\e822';}
.icon-power-outage:before{content:'\e823';}
.icon-top-ranking:before{content:'\e824';}
.icon-handwashing:before{content:'\e825';}
.icon-child-care-child-friendly:before{content:'\e826';}
.icon-border-closed:before{content:'\e827';}
.icon-health-worker:before{content:'\e828';}
.icon-indigenous-people:before{content:'\e829';}
.icon-nutrition:before{content:'\e82a';}
.icon-infected:before{content:'\e82b';}
.icon-docx-file:before{content:'\e82c';}
.icon-not-infected:before{content:'\e82d';}
.icon-xlsx-file:before{content:'\e82e';}
.icon-pdf-file:before{content:'\e82f';}
.icon-csv-file:before{content:'\e830';}
.icon-expand-down:before{content:'\e831';}
.icon-expand-left:before{content:'\e832';}
.icon-expand-right:before{content:'\e833';}
.icon-expand-up:before{content:'\e834';}
.icon-not-secured:before{content:'\e835';}
.icon-checked-mail:before{content:'\e836';}
.icon-validate-account:before{content:'\e837';}
.icon-delete-account:before{content:'\e838';}
.icon-secured:before{content:'\e839';}
.icon-security:before{content:'\e83a';}
.icon-edit:before{content:'\e83b';}
.icon-password:before{content:'\e83c';}
.icon-time:before{content:'\e83d';}
.icon-apps:before{content:'\e83e';}
.icon-Abduction-kidnapping:before{content:'\e900';}
.icon-About:before{content:'\e901';}
.icon-Add-document:before{content:'\e902';}
.icon-Add:before{content:'\e903';}
.icon-Advocacy:before{content:'\e904';}
.icon-Affected-population:before{content:'\e905';}
.icon-Agriculture:before{content:'\e906';}
.icon-Airport-affected:before{content:'\e907';}
.icon-Airport-destroyed:before{content:'\e908';}
.icon-Airport-military:before{content:'\e909';}
.icon-Airport-not-affected:before{content:'\e90a';}
.icon-Airport:before{content:'\e90b';}
.icon-Alert:before{content:'\e90c';}
.icon-Analysis:before{content:'\e90d';}
.icon-Arrest-detention:before{content:'\e90e';}
.icon-Assault:before{content:'\e90f';}
.icon-Assembly-point:before{content:'\e910';}
.icon-Assessment:before{content:'\e911';}
.icon-Attack:before{content:'\e912';}
.icon-Blanket:before{content:'\e913';}
.icon-Blog:before{content:'\e914';}
.icon-Boat:before{content:'\e915';}
.icon-Bookmark:before{content:'\e916';}
.icon-Border-crossing:before{content:'\e917';}
.icon-Borehole:before{content:'\e918';}
.icon-Bottled-water:before{content:'\e919';}
.icon-Bridge-affected:before{content:'\e91a';}
.icon-Bridge-destroyed:before{content:'\e91b';}
.icon-Bridge-not-affected:before{content:'\e91c';}
.icon-Bridge:before{content:'\e91d';}
.icon-Bucket:before{content:'\e91e';}
.icon-Buddhist-temple:before{content:'\e91f';}
.icon-Building-facility-affected:before{content:'\e920';}
.icon-Building-facility-destroyed:before{content:'\e921';}
.icon-Building-facility-not-affected:before{content:'\e922';}
.icon-Building:before{content:'\e923';}
.icon-Bus:before{content:'\e924';}
.icon-Calendar:before{content:'\e925';}
.icon-Camp-Coordination-and-Camp-Management:before{content:'\e926';}
.icon-Car:before{content:'\e927';}
.icon-Carjacking:before{content:'\e928';}
.icon-Cash-transfer:before{content:'\e929';}
.icon-Cell-tower:before{content:'\e92a';}
.icon-Chart:before{content:'\e92b';}
.icon-Chat:before{content:'\e92c';}
.icon-Checkpoint:before{content:'\e92d';}
.icon-Child-combatant:before{content:'\e92e';}
.icon-child-protection:before{content:'\e92f';}
.icon-Children:before{content:'\e930';}
.icon-Church:before{content:'\e931';}
.icon-Civil-military-coordination:before{content:'\e932';}
.icon-Clinic:before{content:'\e933';}
.icon-Clothing:before{content:'\e934';}
.icon-Cold-wave:before{content:'\e935';}
.icon-Communal-latrine:before{content:'\e936';}
.icon-Community-building:before{content:'\e937';}
.icon-Community-engagement:before{content:'\e938';}
.icon-Computer:before{content:'\e939';}
.icon-Conflict:before{content:'\e93a';}
.icon-Coordinated-assessement:before{content:'\e93b';}
.icon-Coordination:before{content:'\e93c';}
.icon-Copy:before{content:'\e93d';}
.icon-Cyclone:before{content:'\e93e';}
.icon-Damaged-Affected:before{content:'\e93f';}
.icon-Dangerous-area:before{content:'\e940';}
.icon-Data:before{content:'\e941';}
.icon-Dead:before{content:'\e942';}
.icon-Debris-management:before{content:'\e943';}
.icon-Deployment:before{content:'\e944';}
.icon-Destroyed:before{content:'\e945';}
.icon-Detergent:before{content:'\e946';}
.icon-Diplomatic-mission:before{content:'\e947';}
.icon-Distribution-site:before{content:'\e948';}
.icon-Document:before{content:'\e949';}
.icon-Down:before{content:'\e94a';}
.icon-Download:before{content:'\e94b';}
.icon-Drought:before{content:'\e94c';}
.icon-Drowned:before{content:'\e94d';}
.icon-E-mail:before{content:'\e94e';}
.icon-Early-Recovery:before{content:'\e94f';}
.icon-Earthmound:before{content:'\e950';}
.icon-Earthquake:before{content:'\e951';}
.icon-Education:before{content:'\e952';}
.icon-Elderly:before{content:'\e953';}
.icon-Emergency-Telecommunications:before{content:'\e954';}
.icon-Environment:before{content:'\e955';}
.icon-Epidemic:before{content:'\e956';}
.icon-Exit-Cancel:before{content:'\e957';}
.icon-Famine:before{content:'\e958';}
.icon-Favourite:before{content:'\e959';}
.icon-Fax:before{content:'\e95a';}
.icon-Ferry:before{content:'\e95b';}
.icon-Film:before{content:'\e95c';}
.icon-Filter:before{content:'\e95d';}
.icon-Financing:before{content:'\e95e';}
.icon-Fire:before{content:'\e95f';}
.icon-Fishery:before{content:'\e960';}
.icon-Flash-flood:before{content:'\e961';}
.icon-Flood:before{content:'\e962';}
.icon-Flour:before{content:'\e963';}
.icon-Folder:before{content:'\e964';}
.icon-Food-Security:before{content:'\e965';}
.icon-Food-warehouse:before{content:'\e966';}
.icon-Food:before{content:'\e967';}
.icon-Forced-entry:before{content:'\e968';}
.icon-Forced-recruitment:before{content:'\e969';}
.icon-Fund:before{content:'\e96a';}
.icon-Gap-analysis:before{content:'\e96b';}
.icon-Gas-station:before{content:'\e96c';}
.icon-Go:before{content:'\e96d';}
.icon-Government-office:before{content:'\e96e';}
.icon-Group:before{content:'\e96f';}
.icon-Harassment-intimidation:before{content:'\e970';}
.icon-Health-facility-affected:before{content:'\e971';}
.icon-Health-facility-destroyed:before{content:'\e972';}
.icon-Health-facility-not-affected:before{content:'\e973';}
.icon-Health-facility:before{content:'\e974';}
.icon-Health-post:before{content:'\e975';}
.icon-Health:before{content:'\e976';}
.icon-Heatwave:before{content:'\e977';}
.icon-Heavy-rain:before{content:'\e978';}
.icon-Helicopter:before{content:'\e979';}
.icon-Helipad:before{content:'\e97a';}
.icon-Help:before{content:'\e97b';}
.icon-Hidden:before{content:'\e97c';}
.icon-Hindu-temple:before{content:'\e97d';}
.icon-Hospital:before{content:'\e97e';}
.icon-Hotel:before{content:'\e97f';}
.icon-House-affected:before{content:'\e980';}
.icon-House-burned:before{content:'\e981';}
.icon-House-destroyed:before{content:'\e982';}
.icon-House-not-affected:before{content:'\e983';}
.icon-House:before{content:'\e984';}
.icon-Humanitarian-access:before{content:'\e985';}
.icon-Humanitarian-programme-cycle:before{content:'\e986';}
.icon-IDP-refugee-camp:before{content:'\e987';}
.icon-Infant-formula:before{content:'\e988';}
.icon-Infant:before{content:'\e989';}
.icon-Information-management:before{content:'\e98a';}
.icon-Information-technology:before{content:'\e98b';}
.icon-Infrastructure:before{content:'\e98c';}
.icon-Injured:before{content:'\e98d';}
.icon-Innovation:before{content:'\e98e';}
.icon-Insect-infestation:before{content:'\e98f';}
.icon-Internally-displaced:before{content:'\e990';}
.icon-Internet:before{content:'\e991';}
.icon-Kitchen-set:before{content:'\e992';}
.icon-Landslide:before{content:'\e993';}
.icon-Laptop:before{content:'\e994';}
.icon-Latrine-cabin:before{content:'\e995';}
.icon-Leadership:before{content:'\e996';}
.icon-Learning:before{content:'\e997';}
.icon-Link:before{content:'\e998';}
.icon-Livelihood:before{content:'\e999';}
.icon-Livestock:before{content:'\e99a';}
.icon-Location:before{content:'\e99b';}
.icon-Locust-infestation:before{content:'\e99c';}
.icon-Logistics:before{content:'\e99d';}
.icon-Map:before{content:'\e99e';}
.icon-Mattress:before{content:'\e99f';}
.icon-Medical-supply:before{content:'\e9a0';}
.icon-Medicine:before{content:'\e9a1';}
.icon-Meeting:before{content:'\e9a2';}
.icon-Menu:before{content:'\e9a3';}
.icon-Military-gate:before{content:'\e9a4';}
.icon-Mine:before{content:'\e9a5';}
.icon-Missing:before{content:'\e9a6';}
.icon-Mobile-clinic:before{content:'\e9a7';}
.icon-Mobile-phone:before{content:'\e9a8';}
.icon-Monitor:before{content:'\e9a9';}
.icon-Monitoring:before{content:'\e9aa';}
.icon-More-options:before{content:'\e9ab';}
.icon-Mosque:before{content:'\e9ac';}
.icon-Mosquito-net:before{content:'\e9ad';}
.icon-Multi-cluster-sector:before{content:'\e9ae';}
.icon-Murder:before{content:'\e9af';}
.icon-National-army:before{content:'\e9b0';}
.icon-Needs-assessment:before{content:'\e9b1';}
.icon-Next-item:before{content:'\e9b2';}
.icon-NGO-office:before{content:'\e9b3';}
.icon-Non-food-items-2:before{content:'\e9b4';}
.icon-Non-food-items:before{content:'\e9b5';}
.icon-Not-affected:before{content:'\e9b6';}
.icon-Notification:before{content:'\e9b7';}
.icon-Nutrition:before{content:'\e9b8';}
.icon-Observation-tower:before{content:'\e9b9';}
.icon-Oil:before{content:'\e9ba';}
.icon-Out-of-platform:before{content:'\e9bb';}
.icon-Partnership:before{content:'\e9bc';}
.icon-Pause:before{content:'\e9bd';}
.icon-Peacekeeping-force:before{content:'\e9be';}
.icon-People-in-need:before{content:'\e9bf';}
.icon-People-targeted:before{content:'\e9c0';}
.icon-People-with-physical-impairments:before{content:'\e9c1';}
.icon-Permanent-camp:before{content:'\e9c2';}
.icon-Person-1:before{content:'\e9c3';}
.icon-Person-2:before{content:'\e9c4';}
.icon-Photo:before{content:'\e9c5';}
.icon-Physical-closure:before{content:'\e9c6';}
.icon-Plastic-sheeting:before{content:'\e9c7';}
.icon-Police-station:before{content:'\e9c8';}
.icon-Policy:before{content:'\e9c9';}
.icon-Population-growth:before{content:'\e9ca';}
.icon-Population-return:before{content:'\e9cb';}
.icon-Port-affected:before{content:'\e9cc';}
.icon-Port-destroyed:before{content:'\e9cd';}
.icon-Port-not-affected:before{content:'\e9ce';}
.icon-Port:before{content:'\e9cf';}
.icon-Potable-water-source:before{content:'\e9d0';}
.icon-Potable-water:before{content:'\e9d1';}
.icon-Pregnant:before{content:'\e9d2';}
.icon-Preparedness:before{content:'\e9d3';}
.icon-Previous-item:before{content:'\e9d4';}
.icon-Print:before{content:'\e9d5';}
.icon-Protection:before{content:'\e9d6';}
.icon-Public-information:before{content:'\e9d7';}
.icon-Radio:before{content:'\e9d8';}
.icon-Rebel:before{content:'\e9d9';}
.icon-Reconstruction:before{content:'\e9da';}
.icon-Refugee:before{content:'\e9db';}
.icon-Registration:before{content:'\e9dc';}
.icon-Relief-goods:before{content:'\e9dd';}
.icon-Remove-document:before{content:'\e9de';}
.icon-Remove:before{content:'\e9df';}
.icon-Report:before{content:'\e9e0';}
.icon-Reporting:before{content:'\e9e1';}
.icon-Response:before{content:'\e9e2';}
.icon-Return:before{content:'\e9e3';}
.icon-Rice:before{content:'\e9e4';}
.icon-Road-affected:before{content:'\e9e5';}
.icon-Road-barrier:before{content:'\e9e6';}
.icon-Road-destroyed:before{content:'\e9e7';}
.icon-Road-not-affected:before{content:'\e9e8';}
.icon-Road:before{content:'\e9e9';}
.icon-Roadblock:before{content:'\e9ea';}
.icon-Robbery:before{content:'\e9eb';}
.icon-Rule-of-law-and-justice:before{content:'\e9ec';}
.icon-Rural-exodus:before{content:'\e9ed';}
.icon-Rural:before{content:'\e9ee';}
.icon-Safety-and-security:before{content:'\e9ef';}
.icon-Salt:before{content:'\e9f0';}
.icon-Sanitation:before{content:'\e9f1';}
.icon-Satellite-dish:before{content:'\e9f2';}
.icon-Save:before{content:'\e9f3';}
.icon-Scale-down-operation:before{content:'\e9f4';}
.icon-Scale-up-operation:before{content:'\e9f5';}
.icon-School-affected:before{content:'\e9f6';}
.icon-School-destroyed:before{content:'\e9f7';}
.icon-School-not-affected:before{content:'\e9f8';}
.icon-School:before{content:'\e9f9';}
.icon-Search:before{content:'\e9fa';}
.icon-See:before{content:'\e9fb';}
.icon-Selected:before{content:'\e9fc';}
.icon-Services-and-tools:before{content:'\e9fd';}
.icon-Settings:before{content:'\e9fe';}
.icon-Sexual-violence:before{content:'\e9ff';}
.icon-Share:before{content:'\ea00';}
.icon-Shelter:before{content:'\ea01';}
.icon-Ship:before{content:'\ea02';}
.icon-Shower:before{content:'\ea03';}
.icon-Smartphone:before{content:'\ea04';}
.icon-Snow-avalanche:before{content:'\ea05';}
.icon-Snowfall:before{content:'\ea06';}
.icon-Soap:before{content:'\ea07';}
.icon-Solid-waste:before{content:'\ea08';}
.icon-Spontaneous-site:before{content:'\ea09';}
.icon-Spring-water:before{content:'\ea0a';}
.icon-Staff-management:before{content:'\ea0b';}
.icon-Stop:before{content:'\ea0c';}
.icon-Storm-surge:before{content:'\ea0d';}
.icon-Storm:before{content:'\ea0e';}
.icon-Stove:before{content:'\ea0f';}
.icon-Submersible-pump:before{content:'\ea10';}
.icon-Sugar:before{content:'\ea11';}
.icon-Table:before{content:'\ea12';}
.icon-Tarpaulin:before{content:'\ea13';}
.icon-Technological-disaster:before{content:'\ea14';}
.icon-Temporary-camp:before{content:'\ea15';}
.icon-Tent:before{content:'\ea16';}
.icon-Toilet:before{content:'\ea17';}
.icon-Tornado:before{content:'\ea18';}
.icon-Trade-and-market:before{content:'\ea19';}
.icon-Train:before{content:'\ea1a';}
.icon-Training:before{content:'\ea1b';}
.icon-Transition-site:before{content:'\ea1c';}
.icon-Trending:before{content:'\ea1d';}
.icon-Truck:before{content:'\ea1e';}
.icon-Tsunami:before{content:'\ea1f';}
.icon-Tunnel:before{content:'\ea20';}
.icon-UN-compound-office:before{content:'\ea21';}
.icon-UN-vehicle:before{content:'\ea22';}
.icon-University:before{content:'\ea23';}
.icon-Up:before{content:'\ea24';}
.icon-Upload:before{content:'\ea25';}
.icon-Urban-rural:before{content:'\ea26';}
.icon-Urban:before{content:'\ea27';}
.icon-User:before{content:'\ea28';}
.icon-Users:before{content:'\ea29';}
.icon-Vaccine:before{content:'\ea2a';}
.icon-Video:before{content:'\ea2b';}
.icon-Violent-wind:before{content:'\ea2c';}
.icon-Volcano:before{content:'\ea2d';}
.icon-Walkie-talkie:before{content:'\ea2e';}
.icon-Warning-Error:before{content:'\ea2f';}
.icon-Water-Sanitation-and-Hygiene:before{content:'\ea30';}
.icon-Water-source:before{content:'\ea31';}
.icon-Water-trucking:before{content:'\ea32';}
.icon-ZIP-compressed:before{content:'\ea33';}
